footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 210px;
    display: flex;
    justify-content: space-evenly;
}

.ul {
    margin-top: 20px;
}

.ul a {
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 1.1rem;
    margin-top: 10px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
    font-size: 15px;
}

.copy {
    margin-top: 5px;
    font-size: 15px;
}

.pages a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}