body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100vw;
    color: black;
}

.container {
    display: flex;
    height: 40vh;
    /* Adjusted for margin */
}

.left-section {
    width: 300px;
    background-color: #f0f4f8;
    border-radius: 20px;
    overflow-y: auto;
    padding: 10px;
}

#userList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#userList li img {
    border-radius: 50%;
}

#userList li {
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s;
}

#userList li:hover {
    background-color: #7191ca;
}

#userList li.selected {
    background-color: #8ca7d5;
    border-radius: 10px;
}

.class {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.right-section {
    background-color: #e2e8f0;
    border-radius: 20px;
    overflow-y: auto;
    padding: 20px;
}

.message-container {
    display: flex;
    align-items: center;
    margin-top: auto;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #a0aec0;
    border-radius: 4px;
    margin-right: 10px;
}

#sendButton {
    padding: 10px 20px;
    background-color: #2b6cb0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bubble {
    display: inline-block;
    max-width: 70%;
    /* Adjusted maximum width */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}


.self-bubble {
    background-color: #0069fc;
    color: #fff;
    align-self: flex-end;
}

.other-bubble {
    background-color: #4b4d50;
    color: white;
    align-self: flex-start;
}

.interect {
    text-align: center;

}



.container {
    display: flex;
}

.left-section {
    width: 20%;
    background-color: #f0f0f0;
}

.right-section {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;

    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.message-container {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    flex-grow: 1;
}

.bottom-content {
    margin-top: auto;
}



.container {
    display: flex;
    height: 80vh;
}

.user-list {
    flex: 1;
    overflow-y: auto;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
}


.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.listitem {
    display: flex;
    padding: 10px;
    width: 100%;
}

.listitem p {
    margin-left: 20px;
}

.message-input {

    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
}

.message-input input[type="text"] {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .user-list {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}


.active-user {
    display: flex;
    height: 80px;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
}

.active-user-name {
    font-size: 20px;
    margin-left: 30px;
}

.active-user-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 80px;

}