@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.profilelinks {
  display: flex;
  gap: 0;
}

.pfplinkbtn {
  flex: 1;
  z-index: 0;
  font-size: 1.1rem;
  padding: 20px;
  background-color: #3c5670;
  position: static;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.pfplinkbtn:hover {
  background-color: #3f85b4;
}





.cover {
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-img,
.coverpage-img {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  border-radius: 30px;
  align-items: center;
  height: 80%;
  overflow: hidden;
}

.cover-img img {
  width: 90%;
  object-fit: contain;
}

.profile-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  bottom: 10%;
}

.profile-img:hover {
  transition: 1s;
  scale: 1.1;
}

.image {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.follow-btn,
.msg-btn {
  position: absolute;
  font-size: 16px;
  border: 3px solid white;
  top: 17%;
}

.follow-btn {
  margin-right: 70px;
  right: 16%;
}

.msg-btn {
  right: 11%;
}

.main {
  text-align: center;
}

.counts {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.circle {
  width: 40px;
  height: 40px;
  width: 60px;
  border-radius: 14px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.follower .title,
.following .title,
.likes .title {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .cover {
    height: 60vh;
  }

  .cover-img {
    display: none;
  }

  .profile-img {
    bottom: 60%;
  }

  .image {
    height: 160px;
    width: 160px;
  }

  .follow-btn,
  .msg-btn {
    background: black;
    position: absolute;
    top: 45%;
    font-size: 10px;
    width: 100px;

  }

  .follow-btn {
    left: 60px;
  }
}

.username {
  margin-top: -20px;
}

.about {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 40px;
}

::-webkit-scrollbar {
  display: none;
}

.container-bio,
.container-about {
  width: 50em;
}