@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
}

.sidebtns {
    padding-top: 40px;
    list-style: none;
    text-align: center;
}

.sidebtns li {
    margin-bottom: 10px;
}

.sidebtns a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.sidebtns a:hover {
    background-color: #6c6666;
}

.container {
    padding: 20px;
}

.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
}

.avatar img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

.admin-name {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.admin-title {
    color: #c2c2c2;
    text-align: center;
    margin-top: 5px;
}
