:root {
    --navbar-color: #34495e;
    --font-family: 'Poppins', sans-serif;
    --categories-bg: #2c3e50;
}

/* header css starts */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    z-index: 1;
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: var(--navbar-color);
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search__container {
    padding-top: 5px;
    width: 500px;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;
    color: white;
    border-radius: 50px;
    border: 1px solid #bdc3c7;
    transition: all 250ms ease-in-out;
    letter-spacing: 1.5px;
}

.search__input::placeholder {
    color: #95a5a6;
    letter-spacing: 4px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #7f8c8d;
    border-radius: 0;
}

li {
    margin-right: 20px;
}

li a {
    display: block;
    color: #ecf0f1;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:active {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.logo>a>img {
    margin-left: 50px;
    height: 60px;
    width: 130px;
}

/* categories css starts
.categories {
    z-index: 1;
    position: sticky;
    top: 80px;
    height: 50px;
    background-color: var(--categories-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.category-item {
    margin-right: 10px;
}

.category-item:hover,
.dropdown-content div:hover {
    transition: 0.7s;
    font-size: 17px;
    background-color: #34495e;
    color: #ecf0f1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown div {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 30px;
    z-index: 1;

    font: bolder;
    color: black;
    background-color: lightblue;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    column-count: 4;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

/* main update profile css */


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease-in-out;
}

input[type="file"] {
    margin-bottom: 15px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #3498db;
}

div.radio-group {
    display: flex;
    margin-bottom: 15px;
}

div.radio-group label {
    margin-right: 20px;
    font-size: 16px;
}

button {
    background-color: green;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 80%;
}

button:hover {
    background-color: limegreenS;
}

::-webkit-scrollbar {
    display: none;
}